<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div>
        <%= gravatar_for @user, size: Settings.gravatar_size_large %>
        <h1 class="user_name"> <%= @user.name %></h1>
      </div>
    </section>
    <section>
      <%= render "shared/stats" %>
    </section>
    <section>
      <%= render "follow_form" if logged_in? %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3 class="activity_title">
      <%= "#{t "users.show.activity"} (#{@user.activities.count})" %>
    </h3>
    <div>
      <%= render "shared/feed" if @user.activities.any? %>
    </div>
  </div>
</div>
