<%= form_for words_path, method: :get do |f| %>
  <p>
    <%= select_tag :category_id,
      options_from_collection_for_select(@categories, :id, :name,
      params[:category_id]),
      include_blank: t("word"), class: "form-control" %>
  </p>
  <% Settings.option.each_with_index do |option, index| %>
    <p>
      <%= radio_button_tag :option, option,
        (checked = true if params[:option] == option || params[:option].nil? && index == 0) %>
      <%= t "word.#{option}" %>
    </p>
    <p>
  <% end %>
  <%= f.submit t("words.index.filter"), class: "form-control" %>
<% end %>

<% if @words.any? %>
  <b>
    <%= t "has" %>
    <%= @words.count %>
    <%= t "number" %>
  </b>
  <div class="row">
    <% @words.each do |word| %>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-5">
            <b><%= word.name %></b>
          </div>
          <div class="col-md-6 col-md-offset-1">
            <%= render "answer", word: word %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
