<ol>
  <h4>
    <span><%= current_user.name %></span>
    <%= activity.type_action %>
    <% if activity.type_action == Settings.activities.learned %>
      <%=  Settings.activities.a_lesson_in %>
      <%= link_to activity.target.category.name,
        category_lesson_path(category_id: activity.target.category.id,
        id: activity.target.id) %>
    <% else %>
      <%= link_to activity.target.name, activity.target %>
    <% end %>
  </h4>
  </h4>
  <small class = "activities">
    <% if Time.zone.now - activity.created_at < 1.day %>
      <%= time_ago_in_words l activity.created_at, format: :create_date %>
    <% else %>
      <%= t.localize activity.created_at,format: :create_date %>
    <% end %>
  </small>
</ol>
