<ol>
  <h4>
    <b><%= link_to activity.user.name, activity.user %></b>
    <% if activity.type_action == Settings.activities.learned %>
      <%= render "activities/learn", target: activity.target %>
      <%= link_to activity.target.category.name,
        category_lesson_path(category_id: activity.target.category.id,
        id: activity.target.id) %>
    <% else %>
      <%= activity.type_action %>
      <%= link_to activity.target.name, activity.target %>
    <% end %>
  </h4>
  <small class = "activities">
    <% if Time.zone.now - activity.created_at < 1.day %>
      <%= time_ago_in_words l activity.created_at, format: :create_date %>
    <% else %>
      <%= l activity.created_at,format: :create_date %>
    <% end %>
  </small>
</ol>
